@use "~/src/scss/colors.scss" as *;


.not_found_mess{
  text-align: center;
  font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
  margin: .125rem auto;
  width: 100%;
  height : 1.875rem;
  display: block;
  font-weight: 400;
  color: $secondary;
  
}

.found_mess{
  text-align: center;
  font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
  margin: .125rem auto;
  width: 100%;
  height : 1.875rem;
  display: block;
  font-weight: 400;
  color: $blue;
  span{
    text-decoration: underline;
  }
}